<%# --- BLOG --- %>
<p id="notice"><%= notice %></p>

<p>
  <strong>ブログ名：</strong>
  <%= @blog.title %>
</p>

<%# --- ENTRY --- %>
<p id="notice"><%= notice %></p>

<p>
  <strong>title:</strong>
  <%= @entry.title %>
  <strong>body:</strong>
  <%= @entry.body %>
  <strong>blog_id:</strong>
  <%= @entry.blog_id %>
</p>

<%= link_to 'Edit', edit_blog_entry_path(@blog,@entry) %> |
<%= link_to 'Back', blog_path(@blog) %>



<%# --- COMMENT --- %>
<h3>Listing comments</h3>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Status</th>
      <th>Entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry.comments.each do |comment| %>
      <tr>
        <% if( comment.status == 'unapproved') then %>
        <td>(承認待ち)</td>
        <% else %>
        <td><%= comment.body %></td>
        <% end %>
        <td><%= comment.status %></td>
        <td><%= comment.entry_id %></td>
        <% if( comment.status == 'unapproved') then %>
        <td><%= link_to 'Approve', blog_entry_comment_approve_path(@blog,@entry,comment) %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= link_to 'Destroy', [@blog,@entry,comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_blog_entry_comment_path(@blog,@entry) %>
