<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @comment.status %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @comment.entry_id %>
</p>

<%= link_to 'Edit', edit_blog_entry_comment_path(@blog,@entry,@comment) %> |
<%= link_to 'Back', blog_entry_comments_path %>
